@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Concert+One&family=Indie+Flower&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --background: rgb(250,250,250);
    --details: rgb(200, 200, 200);
    --principal: #B1CC74;
    --secundary: ;
    --light-gray: #d3d3d3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    color: white;
}




/* ------------------------- *\
    #ESTILOS GERAIS
\* ------------------------- */


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.text-center {
    text-align: center;
}




/* ------------------------- *\
    #NAVBAR
\* ------------------------- */


.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: #0e1111;
    border-bottom: 1px solid #d3d3d3;
    padding: 0rem 18.75rem;
}

.navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 40px;
}

.navbar-items a {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.navbar-items a:hover {
    color: #d3d3d3;
}

.navbar-name {
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 100px;
    width: auto;

}

.navbar-name span {
    font-family: 'Concert One',sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: white;
}




/* ------------------------- *\
    #LAYOUT
\* ------------------------- */


.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}




/* ------------------------- *\
    #HOME-PAGE
\* ------------------------- */


.welcome-bg {
    background: url(Images/cool-background\ \(3\).png);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: -100px 0 0 300px;
}

.welcome h1 {
    font-size: 50px;
    margin-left: -50px;
    color: black;
}

.welcome img {
    height: 500px;
    border-radius: 5%;
}

.icon-seta {
    position: absolute;
    top: 50%;
    margin-top: 370px;
}

.icon-seta img {
    height: 60px;
    width: auto;
}




/* ------------------------- *\
    #CARDS
\* ------------------------- */


.grid-grupos,
.grid-ranking {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 60px;
}

.card-grupos,
.card-rank,
.card-planilhas {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 18px;
}

.card-grupos img,
.card-rank img,
.card-planilhas img {
    height: 35px;
    border-radius: 1px;
}

.card-planilhas {
    height: 65px;
    width: 380px;
    justify-content: flex-start;
}




/* ------------------------- *\
    #GRUPOS-PAGE
\* ------------------------- */


.content-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #0e1111;
    align-items: center;
    height: auto;
    padding: 10px;
    gap: 10px;
}

.aba-grupos {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin-top: 150px;
    max-width: 70%;
}

.aba-grupos .grupos-textcontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -110px;
    gap: 80px;
}

.grupos-header {
    display: flex;
    gap: 10px;
}

.aba-grupos .grupos-header img {
    height: 50px;
    width: auto;
    border-radius: 2px;
    filter: brightness(0) invert(1);
}

.content-page .grupos-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-page img {
    height: 650px;
    width: 328px;
    border-radius: 20px;
}

.card-grupos {
    width: 400px;
    height: 80px;
    padding: 10px 20px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
}

.card-grupos img {
    height: 35px;
    width: 35px;
    border-radius: 1px;
}

.card-grupos h2 {
    font-weight: 500;
    font-size: 18px;
    color: black;
}

.aba-ranking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 160px;
    max-width: 90%;
}

.ranking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width: 90%;
}

.ranking-header {
    display: flex;
    gap: 10px;
}

.aba-ranking .ranking-header img {
    height: 50px;
    width: auto;
    border-radius: 2px;
    filter: brightness(0) invert(1);
}

.content-page .ranking-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 60%;
}

.aba-ranking .ranking-flex {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.content-page .ranking-printfoto {
    height: 500px;
    width: 438px;
    border-top: 1px solid #fff;
}

.content-page h1 {
    font-size: 42px;
}

.content-page p {
    font-size: 22px;
}

.content-page span {
    font-size: 18px;
    color: gray;
}

.grid-ranking {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card-rank {
    background-color: white;
    display: flex;
    width: 300px;
    height: 80px;
    padding: 10px 20px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
}

.card-rank img {
    height: 35px;
    width: 35px;
    border-radius: 1px;
}

.card-rank h2 {
    font-weight: 500;
    font-size: 18px;
    color: black;
}

.content-page .aba-planilhas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-top: 160px;
}

.content-page .planilhas-header {
    display: flex;
    gap: 10px;
    margin-top: -10px;
}

.content-page .planilhas-header h1 {
    font-size: 38px;
    margin-top: 5px;
}

.content-page .planilha-texto .planilhas-header img {
    height: 50px;
    width: auto;
    border-radius: 2px;
    filter: brightness(0) invert(1);;
}

.content-page .planilha-texto  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -110px;
    gap: 50px;
}

.content-page .planilha-texto p {
    max-width: 70%;
    place-self: center;
}

.img-planilha img {
    height: 500px;
    width: 733px;
    margin-left: -15px;
}

.card-planilhas {
    background-color: white;
    border-radius: 20px;
    width: 380px;
    height: 65px;
    color: black;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    place-self: center;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.card-planilhas h3 {
    font-size: 18px;
    font-weight: 500;
}

.card-planilhas img {
    height: 30px;
    width: auto;
}


.planilha-textcontainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 100%;
    margin-top: 20px;
}

.vazio {
    height: 150px;
    background-color: #0e1111;
    width: 100%;
}

.welcome-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 100%;
    padding: 10px;
    gap: 30px;
    margin-top: -70px;
}

.welcome3-bg {
    background: url(Images/cool-background\ \(3\).png);
    height: 700px;
    width: 1905px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-grupos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.welcome3-header h2 {
    font-size: 35px;
    font-weight: 600;
    color: black;
}

.welcome-3-header {
    place-items: center;
    margin-top: 35px;
    width: 100%;
    color: black;
}

#buttonConferir {
    background-color: #599DD5;
    font-size: 40px;
    padding: 20px 100px;
    font-family: 'Bangers', sans-serif;
    letter-spacing: 4px;
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: all 0.3 ease;
    margin-top: 40px;
}

#buttonConferir:hover {
    box-shadow: 0 4px 8px #14a7e1;
    color: black;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e1111;
    border-top: 1px solid white;
    padding: 20px 0px;
    height: 250px;
    width: 100%;
    margin-top: -10px;
    gap: 120px;
}

.footer-contato {
    font-size: 10px;
    color: white;
    gap: 30px;
    margin-left: -300px;
}

.footer-title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-container h1 {
    place-self: flex-start;
    font-size: 23px;
    text-align: center;
}

.socials-container {
    display: flex;
    justify-content: center;
    align-items:     center;
    gap: 40px;
    border-radius: 10px;
    border: 1px solid var(--gray-800);
    margin-left: 10px;
}



.socials-container a svg {
    height: 50px;
    fill: white;
    transition: transform 0.3 ease;
}

.socials-container a svg:hover {
    transform: translateY(-5px);
}

.navbar-footer-items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-left: 8px;
    gap: 40px;
}

.navbar-footer-items a {
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.navbar-footer-items a:hover {
    color: #d3d3d3;
}

.contact-title {
    display: flex;
    flex-direction: column;
}

.footer-container .footer-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.footer-items p {
    font-size: 16px;
    color: #d3d3d3;
}

.footer-logo img {
    height: 120px;
    width: auto;
}

.footer-logo span {
    font-family: 'Concert One',sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 28px;
}

.ranking-bg {
    background: url(Images/cool-background\ \(3\).png);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ranking-bgheader {
    display: flex;
    flex-direction: column;
    place-items: flex-start;
    gap: 40px;
    padding: 20px 30px;
    margin-top: 80px;
    width: 50%;
    background: linear-gradient(220deg, rgba(255,255,255,1) 21%, rgba(14,17,17,1) 47%);
    height: 150px;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.1),
                 10px 0 15px rgba(0, 0, 0, 0.1);
}

.ranking-bgheader h1 {
    font-size: 35px;
    color: white;
}

.ranking-types {
    display: flex;
    gap: 20px;
}

.ranking-types a {
    font-weight: 600;
    list-style-type: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.ranking-types a:hover {
    border-bottom: 2px solid #14a7e1;
}

.ranking-page {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: white;
    height: 92.9vh;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.1),
                 10px 0 15px rgba(0, 0, 0, 0.1);
}

.dropdown-header {
    height: 60px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid #d3d3d3;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background: none;
    border: 1px solid #d3d3d3;
    color: #0e1111;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
}

.dropdown-button:hover {
    color: #14a7e1;
}

.dropdown-options {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 5px 10px;
    width: 180px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    z-index: 1000;
}

.dropdown-options a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.dropdown-options a:hover {
    background-color: #14a7e1;
    color: white;
}

.icon-help  {
    font-size: 26px;
    position: absolute;
    left: 71.5%;
    margin-top: 3px;
    margin-left: 15px;
    color: #0e1111;
    place-self: center;
}

a {
    text-decoration: none;
}

.ranking-page table {
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Estilo do cabeçalho */
thead th {
    background-color: #ECECEC;
    color: gray;
    padding: 10px;
    font-size: 10px;
}

  /* Estilo das células */
tbody td {
    padding: 10px;
    color: #0e1111;
    height: 50px;
    font-size: 16px;
    place-self: center;
    font-family: 'Lexend',sans-serif;
    font-weight: 400;
}

.name-grupos {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    gap: 8px;
}

.ranking-positive {
    color: #008000;
}

.ranking-negative {
    color: #C53929;
}

tbody td img {
    height: 45px;
    width: auto;
    border-radius: 50%;
}

  /* Hover para destacar a linha */
tbody tr:hover {
    background-color: #ddd;
}