@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Concert+One&family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --background: rgb(250,250,250);
    --details: rgb(200, 200, 200);
    --principal: #B1CC74;
    --secundary: ;
    --light-gray: #d3d3d3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background-color: #0e1111;
    color: white;
}

.navbar-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #0e1111;
    border-bottom: 1px solid #d3d3d3;
    height: 65px;
    padding: 0px 300px;
}

.navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 40px;
}

.navbar-items a {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.navbar-items a:hover {
    color: #d3d3d3;
}

.navbar-items .submenu-grupos {
    position: relative;
    display: inline-block;
}

.submenu-grupos .submenu-items {
    display: none;
    position: absolute;
    background-color: var(--background);
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    height: 80px;
    width: 150px;
    margin-top: 7px;
    padding: 10px 15px;
    z-index: 1;
}



.submenu-grupos:hover .submenu-items {
    display: block;
}

.navbar-first {
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 110px;
    width: auto;
    margin-top: 20px;
    z-index: 1000;

}

.navbar-first span {
    font-family: 'Concert One',sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 25px;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.welcome-bg {
    background: linear-gradient(90deg, rgba(98,76,171,1) 0%, rgba(14,17,17,1) 50%);
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 80%;
    margin-left: 200px;
    box-sizing: border-box;
}

.welcome h1 {
    font-size: 50px;
    margin-left: -50px;
}

.welcome img {
    height: 450px;
    width: auto;
    border-radius: 5%;
    border: none;
}

.welcome-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
    height: auto;
    max-width: 80%;
    padding: 10px;
    gap: 10px;
}

.aba-grupos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.aba-grupos .grupos-header {
    display: flex;
    gap: 10px;
}

.aba-grupos .grupos-header img {
    height: 50px;
    width: auto;
}

.welcome-2 .grupos-texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 70%;
}

.aba-ranking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
}

.ranking-header {
    display: flex;
    gap: 10px;
}

.aba-ranking .ranking-header img {
    height: 50px;
    width: 50px;
}

.welcome-2 .ranking-texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 70%;
}

.welcome-2 h1 {
    font-size: 38px;
}

.welcome-2 p {
    font-size: 22px;
}

.welcome-2 span {
    font-size: 20px;
    color: #624CAB;
}

.grid-ranking {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.card-rank {
    display: flex;
    justify-content: center;
    padding: 40px;
    align-items: center;
    background-color: #d3d3d3;
    height: 150px;
    width: 400px;
    border-radius: 10px;
}

.grid-ranking .card-rank img {
    height: 50px;
    width: 50px;
}

.grid-ranking .card-rank span {
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.welcome-2 img {
    height: 400px;
    width: 650px;
    border-radius: 15%;
}

.welcome-2 .aba-planilhas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 165px;
}

.welcome-2 .planilhas-header {
    display: flex;
    gap: 10px;
}

.welcome-2 .planilhas-header h1 {
    font-size: 38px;
    margin-top: 5px;
}

.welcome-2 .aba-planilhas img {
    height: 50px;
    width: auto;
}

.welcome-2 .planilha-texto p {
    max-width: 70%;
    place-self: center;
}

.welcome-2 .planilha-texto img {
    height: auto;
    width: auto;
    border-radius: 10%;
    margin-top: 70px;
}
.welcome-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 10px;
    margin-top: 165px;
    gap: 30px;
}

.header-grupos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.welcome-3-header {
    display: flex;
    flex-direction: column;
}

.welcome3-header h2 {
    font-size: 42px;
    font-family: 'Indie Flower', sans-serif;
    margin-top: 55px;
}

.welcome3-header p {
    font-size: 38px;
    font-family: 'Indie Flower', sans-serif;
}

.welcome-3 h2 span {
    font-size: 45px;
    color: #B1CC74;
}

.stats-grid {
    height: 320px;
    width: 100%;
    padding: 12px 30px;
    gap: 24px;
    border-radius: 10px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.stats-card {
    border: none;
    border-radius: 20px;
    transition: transform 0.3s ease;
    margin-top: 30px;
}

.stats-card:hover {
    transform: translateY(-5px);
}

#viewAll {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3 ease;
    color: black;
}

#viewAll:hover {
    color: gray;
}

.stats-image {
    aspect-ratio: 8 / 4;
    background-color: rgba(0,0,0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.stats-image .icone-soon {
    height: 80px;
    width: 80px;
}

.stats-image img {
    aspect-ratio: 16 / 9;
    background-color: var(--gray-800);
    overflow: hidden;
}

.stats-card2 {
    display: flex;
    background-color: var(--light-gray);
    height: 120px;
    width: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3px;
    border-radius: 0.5rem;
    margin-top: 200px;
}

.stats-title {
    font-size: 35px;
    font-weight: bold;
    color: black;
}

.stats-title2 {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.card-mercados {
    display: flex;
    gap: 20px;
}

.card-mercados img {
    height: 50px;
    width: 50px;
}

.welcome4-bg {
    background: linear-gradient(90deg, rgba(14,17,17,1) 50%, rgba(98,76,171,1) 100%);
    height: auto;
    width: 1910px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1200px;
    width: 100%;
    padding: 10px;
    gap: 30px;
}

.welcome4-header {
    font-size: 32px;
    place-items: center;
    margin-top: 55px;
    width: 100%;
    color: white;
}

.welcome4-header span {
    font-size: 40px;
    font-weight: bold;
    color: var(--principal);
}

#buttonConferir {
    background-color: #624CAB;
    font-size: 40px;
    padding: 20px 100px;
    font-family: 'Bangers', sans-serif;
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: all 0.3 ease;
    margin-top: 90px;
}

#buttonConferir:hover {
    transform: translateY(-3px);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: #0e1111;
    border-top: 1px solid white;
    padding: 20px 0px;
    height: 250px;
    width: 100%;
    margin-top: -10px;
}

.footer-contato {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container .footer-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-logo img {
    height: 100px;
    width: auto;
}

.footer-logo span {
    font-family: 'Concert One',sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 25px;
}

