<main class="layout">
    <section class="grupos-bg">
        <div class="grupo-page-header">
            <h1> TODOS OS GRUPOS</h1>
        </div>
        <ul>
            {{#each groups}}
            <div class="grupos-list">
                <img src="../public/images-grupos/klaus-tips/foto-klaustips.png">
                <div class="list-items">
                    <div class="list-title">
                        <img src="../public/images/usuarios-alt.png" alt="Ícone de grupo">
                        <h1 style="color: red;"> {{this.name}}</h1>
                        <a href="/page-grupos/grupo1.html" class="redirecionar-grupo"><i class="fi fi-rr-arrow-right"></i></a>
                        <div class="socials-container">
                            <a href="https://x.com/KlausTips" class="twitter-icon">
                                <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"/></svg>
                            </a>
                            <a href="https://www.instagram.com/klauslol1/" class="telegram-icon">
                                <img src="../Images/aviao-de-papel.png" alt="Ícone do telegram">
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
            {{/each}}
        </ul>
        <ul>
    </section>
</main>

