@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Concert+One&family=Indie+Flower&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Muli-Black';
    src: url(../Fonts/Muli-Black.ttf);
}

:root {
    --background: rgb(250,250,250);
    --details: rgb(200, 200, 200);
    --principal: #B1CC74;
    --secundary: ;
    --light-gray: #d3d3d3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    color: white;
    background: url(../Images/cool-background\ \(3\).png);
}




/* ------------------------- *\
    #NAVBAR
\* ------------------------- */


.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    width: 100%;
    background-color: #0e1111;
    border-bottom: 1px solid #d3d3d3;
    padding: 0rem 18.75rem;
}

.navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 40px;
}

.navbar-items a {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.navbar-items a:hover {
    color: #d3d3d3;
}

.navbar-name {
    display: flex;
    align-items: center;
}

.navbar-logo {
    height: 100px;
    width: auto;

}

.navbar-name span {
    font-family: 'Muli-Black',sans-serif;
    font-style: normal;
    font-size: 20px;
    color: white;
}




/* ------------------------- *\
    #LAYOUT
\* ------------------------- */


.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}




/* ------------------------- *\
    #GRUPOS
\* ------------------------- */


.grupo-bg {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding: 40px 60px;
    margin-top: 80px;
    width: 65%;
    background-color: white;
    border-bottom: 2px solid #d3d3d3;
    color: black;
    height: auto;
    box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.1), 
                -10px 0 15px -5px rgba(0, 0, 0, 0.1);
}

.grupo-header {
    display: flex;
    height: 300px;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;
}

.grupo-header img {
    height: 300px;
    width: auto;
    border-radius: 20px;
}

.header-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.header-title h1 {
    font-size: 50px;
    border-bottom: 2px solid #d3d3d3;
    letter-spacing: 2px;
}

.header-title img {
    height: 50px;
    width: 50px;
    border-radius: 1px;
    margin-top: 8px;
}

.header-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.header-items .mercados {
    margin-top: 40px;
}

.header-items h2 {
    font-size: 20px;
}

.mercados,
.casas {
    display: flex;
    gap: 5px;
    width: 100%;
}


.mercados img,
.casas img {
    height: 26px;
    width: auto;
    border-radius: 1px;
}

.content-bg {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding: 40px 60px;
    width: 65%;
    background-color: white;
    color: black;
    height: auto;
}

.aba-sobre {
    display: flex;
    justify-content: flex-start;
    gap: 70px;
}

.aba-sobre img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.sobre-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    gap: 20px;
}

.aba-sobre .sobre-text p {
    text-align: justify;
}

.sobre-text h1,
.planilhas-title h1,
.contato-title h1,
.tips-title h1 {
    font-size: 40px;
}

.sobre-title {
    display: flex;
    border-radius: none;
    gap: 5px;
}

.sobre-title img,
.planilhas-title img,
.contato-title img,
.tips-title img {
    height: 50px;
    width: auto;
}

.sobre-text p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.aba-planilhas {
    display: flex;
    gap: 30px;
    flex-direction: column;
}


.planilhas-title {
    display: flex;
    gap: 5px;
}

.card-container {
    display: flex;
    position: relative;
  }
  
.card {
    width: 390px;
    height: 250px;
    background: url(../Images/print-planilha1.jpg);
    color: #fff;
    text-align: center;
    line-height: 250px;
    font-size: 18px;
    border: 2px solid #299c57;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 1;
    margin-left: -50px; 
}
  
.card:first-child {
    margin-left: 0; 
}
  
.card:hover {
    width: 430px; 
    height: 280px;
    line-height: 350px;
    z-index: 10; 
    margin-left: 0; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.ver-mais {
    display: flex;
    position: relative;
    left: 66%;
    align-items: center;
    background: none;
    border:     none;
    color: var(--accent);
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.ver-mais:hover {
    color: gray;
}

.planilha-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 500px;
    width: 400px;
    gap: 20px;
}

.card-resultados {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 130px;
    width: 300px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
}

.resultados-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.resultados-header img {
    height: 25px;
    width: 25px;
}

.resultados-header h1 {
    font-size: 20px;
    font-family: 'Lexend';
}

.card-resultados h2 {
    font-size: 40px;
    font-family: 'Lexend';
}

.positive {
    color: #299c57;
}

.negative {
    color: #C53929;
}

.planilhas-link {
    display: flex;
    gap: 20px;
}

.planilhas-link button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px 51px;
    background-color: #299c57;
    border: 1px solid #0e1111;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
}

.planilhas-link button img {
    height: 30px;
    width: auto;
}

.aba-contato {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.contato-title {
    display: flex;
    width: 100%;
    gap: 5px;
    justify-content: flex-start;
}

.contato-title .title-1,
.contato-title .title-2 {
    display: flex;
    gap: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.telegram-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #18b7f5;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.telegram-button:hover {
    background-color: #0077b5;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.telegram-button img {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1);
}

.produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 100px;
    margin-top: 20px;
}

.image-produto {
    height: 250px;
    width: auto;
}

.produtos h1 {
    font-family: 'Lexend', sans-serif;
}
.produtos span {
    font-weight: 500;
}

.foto-produto {
    position: absolute;
    left: 65%;
    height: 280px;
    width: 400;
    border-radius: 20px;
}

.socials-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 78%;
    margin-top: 10px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--gray-800);
    margin-left: 30px;
}

.socials-container a svg {
    height: 25px;
    transition: transform 0.3 ease;
    fill: white;
}

.socials-container a {
    font-size: 26px;
    font-weight: 500;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.twitter-icon {
    background-color: #0e1111;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    align-items: center;
    height: 30px;
    width: 40px;
}

.instagram-icon {
    background: linear-gradient(135deg, #f9ce34, #ee2a7b, #6228d7);
    border-radius: 10px;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
}

.telegram-icon {
    background-color: #18b7f5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    align-items: center;
    height: 30px;
    width: 40px;
}

.telegram-icon img {
    height: 20px;
    border-radius: 1px;
    filter: brightness(0) invert(1);
}

.table-planilha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.table-header {
    display: flex;
    gap: 20px;
    padding: 0px 20px;
}

.dropdown-ano {
    position: relative;
    display: inline-block;
}

.dropdown-ano button {
    background-color: #299c57;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-ano button:hover {
    color: #d3d3d3;
}

.dropdown-ano button .fi {
    margin-top: 100px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.aba-planilha .table-planilha table {
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    border: 1px solid #d3d3d3;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Estilo do cabeçalho */
thead th {
    background-color: #ECECEC;
    color: gray;
    padding: 10px;
    font-size: 10px;
}

tbody tr {
    border-bottom: 1px solid #d3d3d3;
}

  /* Estilo das células */
tbody td {
    padding: 10px;
    color: #0e1111;
    height: 30px;
    font-size: 14px;
    place-self: center;
    font-family: 'Lexend',sans-serif;
    font-weight: 400;
}

.border {
    width: 100%;
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
    
}

.border th, .border td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.aba-tips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.tips-title {
    display: flex;
    gap: 5px;
}

.tip-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    background-color: #18b7f5;
    border-radius: 20px;
    color: black;
}



